lines (61 sloc)  1.15 KB
  
/********************** SITE-WIDE STYLES **********************/

p {
  font-size: 20px;
}

body {
  text-align: center;
  background-color: rgb(207, 151, 66) !important;
}

/************************* HOME PAGE **************************/
